<!DOCTYPE html>
<html lang="ga">
<head>
  <title>SáFáilte</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="static/css/styles.css" rel="stylesheet">
  <link href="static/css/loginregister.css" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
  <script src="script.js"></script>
  <!-- {% block head %} -->
  <!-- {% endblock %} -->
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="static/img/safailte.png" alt="safailte_logo" width="100px"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
  <!-- <li class="nav-item active">
  {% block currentNav %}
  <a class="nav-link">Home <span class="sr-only">(current)</span></a>
  {% endblock %}
  </li> -->
  <li class="nav-item">
    <a class="nav-link" href="index.html">Baile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tairgi.html">Táirgí</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="teagmhail.html">Teaghmháil</a>
  </li>
<!--   {% if user.is_authenticated %} -->
  <li class="nav-item">
    <a class="nav-link" href="deais.html">Deais</a>
  </li>
<!--   {% endif %} -->
  </ul>
<!--   {% if user.is_authenticated %}
  <ul class="navbar-nav ml-auto">
  <li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">Log out</a>
  </li>
  </ul>
  {% else %} -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item logged-out" style="display:none">
      <a class="nav-link" href="login.html">Logáil Isteach</a>
    </li>
    <li class="nav-item logged-in" style="display:none">
      <a class="nav-link" onclick="logout()">Logáil Amach</a>
    </li>
  </ul>
<!--   {% endif %} -->
  </div>
  </nav>
<!--   {% block body %} -->
<div class="container login-container logged-out" style="display:none">
    <div class="row justify-content-center">
        <div class="col-md-9 col-md-9 col-lg-6 login-form">
            <h3>Iontráil do shonraí</h3>
            <h4 id="bad-login" class="error-message" style="display:none">ainm úsáideora nó pasfhocal mícheart</h4>
            <form onsubmit="login(); return false;">
                <div class="form-group">
                    <input id="uname" type="text" class="form-control" placeholder="Ainm Úsáideora *" name="username" required>
                </div>
                <div class="form-group">
                    <input id="pword" type="password" class="form-control" placeholder="Pasfhocal *" name="password" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Logáil Isteach" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="logged-in container" style="display:none">
  <div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-danger" onclick="logout()">Logáil Amach?</button>
    </div>
  </div>
</div>
<!--   {% endblock %} -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!--   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>